<!-- footer -->
<div class="footer-user">
  <div class="container-fluid">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="copy-right">Copyright ©Parrot. All Rights Reserved.</div>
    </div>
  </div>
</div>
