<%=render "header" %>
<div class="about-parrot-inner">
  <div class="container-fluid about-parrot-head">
    <div class="container">
      <div class="h1-style">About Parrot</div>
    </div>
  </div>
  <!-- section 1 - BENEFITS OF A PARROT CERTIFICATION -->
  <div class="container section">
    <div class="col-md-6 image-col">
      <%= image_tag ( "homepage/Internal/about-parrot-info-580x387.jpg") %>
    </div>
    <div class="col-md-6 txt-col">
      <p>Parrot was born in the form rooms at Harvard Business School, and taken to market with one of the leading language assessment voices in the world today, and current Chairperson of the ASTM Committee on Language Assessments. Parrot took 3 years, countless contributors, and a lot of goodwilll, to bring Parrot to the market at a price that's affordable, yet still on the cutting edge of technology, and the leading edge of validity. Parrots mission is to simply change the way the world views language, and make it more than a soft skill to employers, but something they can easily identify on resumes and/or request that candidates complete for employment. We have done our best to make Parrot tests accessible and convenient, and are undeniably ahead of the competition on both of these factors. Parrot is a fast growing company that wants to impact and accelerate the globalization of the economy. Sounds easy, right?</p>
      <div class="btn btn-color">Try it now!</div>
    </div>
  </div>
  <!-- section 2 - Our Proof -->
  <div class="practice">
    <div class="container-fluid">
      <div class="container section">
        <div class="col-md-12">
          <div class="h1-style-center" id="our-proof-section">Our Proof</div>
          <p class="text-center">The only world language testing company with a research study conducted in the past 10yrs, and we have a minimum of 3 raters looking at every test, making it arguably one of the most valid language assessments available on the market. Combined with this innovative testing platform is a world class, innovative, proctoring solution that allows candidates to test from anywhere, at any time, using a smartphone, tablet or computer - which makes us the only world language assessment available on mobile phones and/or tablets available on the market today.</p>
          <div class="test-info-section">
            <div class="row">
              <div class="col-md-6">
                <div class="test-info">
                  <div class="test-title">Validated Study</div>

                  <p>This study was conducted by an external group of I/O Psychologists – not the ones we employ – as we wanted to backup our claims without any type of perceived, real or not, bias. So, we put our money where our mouths are – and luckily it worked out!  Click here to find out what happened!</p>
                  <div class="more">
                    <a href="#">Know More</a>
                  </div>

                </div>

              </div>
              <div class="col-md-6">
                <div class="test-info">
                  <div class="test-title">Case Title 02</div>

                  <p>Proin porta suscipit massa, vel sollicitudin est convallis ac. Duis a congue purus. Pellentesque vel pellentesque felis. Nunc consectetur, turpis nec consectetur sagittis, nunc nunc venenatis dui, non ultricies orci quam id mi. Duis eget.</p>
                  <div class="more">
                    <a href="#">Know More</a>
                  </div>

                </div>

              </div>

            </div>
          </div>
          <div class="show-amount">
            <span class="show">showing</span>
            <select class="form-control amount" id="SelectAmount" aria-describedby="showing">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option selected>6</option>
            </select>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- section 3 - Our Proof -->
  <div class="container section">
    <div class="col-md-12">
      <div class="h1-style-center">Our Partners</div>
      <p class="text-center">The ILR Scale is used by countless companies, and just about all government organizations.  Join the movement, join the millions of companies around the world on their way to Parrot66!
      </p>
      <div class="partners-logo">
        <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
        <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
        <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
        <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
      </div>

    </div>
  </div>

</div>
<%=render "footer" %>
