<%=render "header" %>
<div class="faq">
  <div class="container-fluid faq-head">
    <div class="container">
      <div class="h1-style">FAQ</div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-8">
      <div class="h1-top-style">
        <a href="#">Home</a>
        /
        <a href="#">FAQ</a>
      </div>
      <div class="h1-style">Frequently asked questions</div>
      <div id="accordion" class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                <span>Getting Started</span>
              </a>
            </h4>
          </div>
          <div id="panelBodyOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="h7-style">How can Parrot help you?</div> <p>
              Parrot66 delivers language performance tests specific to particular industries, and will assess your ability to perform in a professional capacity in a certain language.  Parrot will directly measure your speaking skills, while indirectly assessing your listening, reading and writing skills. Parrot tests are all evaluated on the US Government’s Language Scale, known an as the ILR Scale, which is the most well know scale for all of the US, outside of Academia.
            </p>
            <div class="h7-style">What are the benefits of Parrot language tests compared to other language tests?</div>
            <p>
            Parrot66 not only uses the scale you need, but also provides an industry specific certification, which is what your employer, or future employer will need. The best part is that we do all this in a way that doesn’t require you to go to some sort of antiquated testing center, but we do it remotely using the technology of today – this is not something earth-shattering, but it actually kind of is in the world of language evaluation. Other companies either don’t offer it, or charge over $100 for their test!! Maybe they don’t know how it is easy it is to take someone’s picture, or perhaps they just want a whole bunch more profit than we feel is appropriate.  Parrot was formed by bilinguals, for bilinguals.  The last thing we want to do is make the certification so expensive that it can’t be used by a wide range of people.
            </p>
            <div class="h7-style">How does Parrot Work?</div <p>
            This is actually pretty cool… Through a patent pending process, your test is actually evaluated, on average, by THREE different certified Parrot Raters!  Look around at the other tests, not only do they charge crazy fees, but they are all rated by one, maybe two (though they’ll probably charge extra for this) raters!  We also went out and verified that our process works – and it does!!  These $100+ tests have validation studies from about 20yrs ago – I am sure nothing has changed in OVER 20 YEARS!  Our last study was conducted in 2017, and our latest study will never be more than 3yrs old.
          </p>

        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
            <span>User Account</span>
          </a>
        </h4>
      </div>
      <div id="panelBodyTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Create an account with Parrot today, and begin the process to self-improvement and empower yourself through the recognition of an ILR Rating from Parrot66!  With an account you will be able to…</p>
          <ul>
            <li>Have instant access to any Parrot test</li>
            <li>Have the option to give companies/people the ability to verify your test result</li>
            <li>Have a history of all your language certifications</li>
            <li>Be reminded when it’s time to renew your certification</li>
            <li>Share your certification with LinkedIn direct from your account</li>
          </ul>

        </div>
      </div>

    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
            <span>Cancellation Policy and Refund</span>
          </a>
        </h4>
      </div>
      <div id="panelBodyThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Again, made by bilinguals, for bilinguals.  We understand things happen, and when they do, the last thing we want you to worry about is your test with us.  Whether you cancel test right after buying it, or right before taking it, we’ll never just take your money.  Your money will remain in your account for you to take your test whenever you’re ready!</p>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
<%=render "footer" %>
