<%=render "header" %>
<div class="how-it-works-inner">
  <div class="container-fluid banner-right how-it-works-head">
    <div class="container">
      <div class="h1-style-right">How it Works</div>
    </div>
  </div>
  <div class="container section why-get-certified">
    <div class="col-md-8">
      <div class="h1-style" id="why-certi-section">Why Get Certified?</div>
      <div class="h6-style">1. The world’s most affordable and valid rating available.</div>

      <p>Parrot certifies not just your language ability, but we take it one step further and evaluate your ability to perform the language in particular industries. This gives you, and your employer, the ultimate sense of confidence.</p>

      <div class="h6-style">2. Reliability and Validity by Worldwide Organizations</div>

      <p>The ILR Rating Scale was not only developed by the US Government, but it is also the most well-known and widely used language scale in the Commercial market.</p>

    </div>
    <div class="col-md-4">
      <div class="btn-info-block">
        <div class="sign-up-now">
          <div class="btn btn-color btn-join">
            <a href="#">Sign Up Now</a>
          </div>
          <p>Don’t leave your language skills to the imagination! Get recognized today with the world’s most powerful language scale!</p>
        </div>
      </div>
      <div class="under-info-block">
        <div class="u-title">Available Tests</div>
        <ul>
          <li><a href="#">Test 01</a></li>
          <li><a href="#">Test 02</a></li>
          <li><a href="#">Test 03</a></li>
          <li><a href="#">Test 04</a></li>
          <li><a href="#">Test 05</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="practice">
    <div class="container-fluid">
      <div class="container section">
        <div class="col-md-12">
          <div class="h1-style-center" id="pra-pre-section">Practice & Prepare</div>
          <div class="Tabs">
            <div id="exTab1" class="container">
              <ul class="nav nav-pills">
                <li class="tab active">
                  <a href="#1a" data-toggle="tab">About The Tests</a>
                </li>
                <li class="tab">
                  <a href="#2a" data-toggle="tab">Taking The Test</a>
                </li>
                <li class="tab">
                  <a href="#3a" data-toggle="tab">Rating Algorithm</a>
                </li>
                <li class="tab">
                  <a href="#4a" data-toggle="tab">Buy Tests</a>
                </li>
              </ul>

              <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                  <p>Each test consists of a series of 10 items* - 2 at each of the levels below:</p>
                  <table class="table-level">
                    <tr>
                      <td id="level-ilr1">ILR 1</td>
                      <td>Elementary</td>
                      <td id="level-ilr2">ILR 2</td>
                      <td>Limited Working</td>
                      <td id="level-ilr3">ILR 3</td>
                      <td>General Professional</td>
                    </tr>
                    <tr>
                      <td id="level-ilr1p">ILR 1+</td>
                      <td>Elementary Plus</td>
                      <td id="level-ilr2p">ILR 2+</td>
                      <td>Limited Working Plus</td>
                      <td id="level-ilr3p"></td>
                      <td id="level-ilr3pb"></td>
                    </tr>
                  </table>
                  <p>*An item consists of</p>
                  <ul>
                    <li>one prompt – A prompt consists of a video, audio and/or text file designed to elicit a spoken response from the candidate, and
                    </li>
                    <li>A benchmark response (BMR). The BMR is a candidate response which has been validated outside the system as being 'at level'.The BMR associated with a ‘Level 1 – Banking’ prompt is a response from someone speaking at ILR level 1, with the typical
                      strengths and weaknesses of a level 1 speaker.</li>
                  </ul>
                  <p>Here's an example of an item:</p>
                  <table class="table-pnp">
                    <tr>
                      <th>Audio</th>
                      <th>Benchmark (BMR)</th>
                    </tr>
                    <tr>
                      <td><p>“What questions would you ask to gather the information below? For example, to gather someone's age, you might say 'How old are you?' What would you say if you wanted to find out about a person's:</p>
                        <ul>
                          <li>First and Last Names</li>
                          <li>Address</li>
                          <li>Date of Birth</li>
                          <li>Marital Status</li>
                          <li>Children</li>
                          <li>Last job</li>
                        </ul>

                      </td>
                      <td></td>
                    </tr>
                  </table>

                </div>
                <div class="tab-pane" id="2a">
                  <p>The candidate sees/hears each prompt in order, beginning with the Elementary level, and then must record their spoken responses. They can repeat each prompt once.
Then they click on ‘Record my Response.’</p>
                </div>
                <div class="tab-pane" id="3a">
                  <p>All tests will be split apart and rated prompt by prompt, starting with the highest level responses (General Professional) and descending until a Final Rating is assigned. Raters can click on ‘play’ buttons to</p>
                  <ul>
                    <li>See/hear the prompt,</li>
                    <li>Hear the Candidate Response (CR), and the</li>
                    <li>Hear the Benchmark Response (BMR)*.
                    </li>
                  </ul>

                  <p>Once they have listened to the Candidate Response in full, they are asked to decide whether the Candidate Response was</p>
                  <ul>
                    <li>better than,</li>
                    <li>as good as, or</li>
                    <li>worse than</li>
                  </ul>
                  <p>the BMR.</p>

                </div>
                <div class="tab-pane" id="4a">
                  <p>Not convinced?!  We have studies too.  Whatever you need, we have it.  Give us a call and put us to the test (for a change)!!</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%=render "footer" %>
