<%=render "header" %>
<!-- banner -->
<div class="parrot-biz-inner">
  <div class="container-fluid banner-right parrot-biz-head">
    <div class="container">
      <div class="h1-style-right">Parrot For Business</div>
    </div>
  </div>

  <!-- section 1 - Partnerhsip -->
  <div class="container section">
    <div class="row Benefits-of-Parrot-top">
      <div class="col-md-12">
        <div class="h1-style-center">Partnerhsips</div>
      </div>
    </div>
    <div class="row partnership">
      <div class="col-md-6">
        <div class="part-method">
          <a href="#">
            <div class="h2-style">Parrot Certifications for Job Postings</div>
            <p>Recognizing language ability is a two way street – we have finally given the candidates an affordable and convenient platform to validate their skills, now it’s time for our companies to require that language skills be validated just like any other skill. In your next job posting, be sure to include “Parrot66 language certifications preferred” and have previously screened candidates knocking at your door and take guesswork (in regards to language ability) out of your next hire! Contact us at +917 519 4156 today!</p>
            <div class="btn btn-color btn-freq">Frequently Asked Questions</div>
            <%= image_tag ( "homepage/Internal/parrot-certification-business-474x333.jpg") %>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="part-method">
          <a href="#">

            <div class="h2-style">Send Candidates to Test with Parrot</div>
            <p>If you found a candidate that you like that doesn’t have validated language skills, send them over to us to get certified and provide yourself with legal and practical support for your hire!  We can set it up so your company pays for the test, whether on a one time basis, or we can establish a long term arrangement to make it a seamless process.</p>
            <br>
            <br>
            <div class="btn btn-color">Contact Us</div>

            <%= image_tag ( "homepage/Internal/send-candidate-business-474x333.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<!-- section 2 - Our industry Partners -->
<div class="practice">
<div class="container-fluid">
<div class="container section">
  <div class="col-md-12">
    <div class="h1-style-center">Our industry Partners</div>
    <p class="text-center">The ILR Scale is used by countless companies, and just about all government organizations.  Join the movement, join the millions of companies around the world on their way to Parrot66!</p>
    <div class="partners-logo">
      <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
      <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
      <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
      <div class="col-md-3 p-logo"><img src="http://fakeimg.pl/250x80/bdd9d2/3f232a/?text=Fake-Image"></div>
    </div>

  </div>
</div>
</div>
</div>
<%=render "footer" %>
