<%=render "header" %>
<div class="Private-Policy">
  <div class="container-fluid Private-Policy-head">
    <div class="container">
      <div class="h1-style">Private Policy</div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-12">
      <div class="h1-top-style">
        <a href="#">Home</a>
        /
        <a href="#">Private Policy</a>
      </div>
      <div class="h1-style">Our Commitment to Privacy</div>
      <div class="pp-img"><%= image_tag ( "homepage/Internal/private-policy-commitment.jpg") %></div>
      <p>
        Parrot66 enters into a Confidentiality Agreement with each of its customers, both those who are test-taker clients and those who are third party users of test results, that is consistent with this Policy, and under which all materials provided to Parrot66 from client customers, including personally identifiable information and test data (“Customer Identifiable Information”), are treated as confidential. All Customer Identifiable Information is kept and maintained on secure systems used in the conduct of Parrot66’s operations and business.</p>
        <p><b>Use of Customer Identifiable Information</b></p>
        <p>Parrot66 will not disclose any Customer Identifiable Information, such as customer name, home or email address, or phone number, except in the circumstances described below.</p>
        <p>In order to fulfill its customer services requirements pursuant to the Parrot66 Test Taker Form, Parrot66 may disclose Customer Identifiable Information to a client as directed by the customer (e.g., to an employer or certification body). Parrot66 may also provide Customer Identifiable Information to service providers that perform services for it. Parrot66 requires these service providers to sign a confidentiality agreement that prohibits them from using any customer confidential information for unauthorized purposes. In the event that Parrot66 becomes aware that any of its agents are using or disclosing personal information contrary to this Policy, Parrot66 will take the necessary steps to prevent or stop the misuse or disclosure. In addition, Parrot66 may disclose Customer Identifiable Information to any person or entity as required by law, as required to protect the rights or safety of Parrot66 or our customers, or in response to a specific court order. Security regulations of some foreign countries may require Parrot66 to provide foreign and domestic government agencies with access to Customer Identifiable Information.</p>
        <p>Parrot66 also may use anonymous, aggregated information about its customers, for internal research or to update and/or maintain its systems. However, Parrot66 does not sell, rent, or loan any Customer Identifiable Information to any third parties that are not authorized service providers, or who are not clients with whom Parrot66 has signed Confidentiality Agreements concerning the use of Customer Information.</p>
<p><b>Non-customer/Visitor Information</b></p>
<p>We may use cookies, web beacons, and/or other monitoring technologies for the purpose of reporting web traffic, statistics, advertisement ‘click-throughs,’ and/or other activities on our website. No Personally Identifiable Information is collected or transferred at any time during this collection. However, if you choose, you may opt out from collection of such information, by clicking on the following link: <a href="http://www.adsrvr.org">http://www.adsrvr.org</a>.</p>
<p><b>Use of Parrot66’s Website</b></p>
<p>Access to and use of the Parrot66 website, including individual customer test data, is at the risk of the user. Under no circumstances, including but not limited to negligence, shall Parrot66, its officers, directors, owners, employees, agents, and any other party involved in creating, producing, or delivering the website and any content on the website, be liable for any damages whatsoever (including, without limitation, any direct, incidental, consequential, indirect, or punitive damages) arising out of or related to any individual’s access to, use of, inability to access or use the website for any reason (e.g., failure of performance or operation, any interruption of service, computer virus), any unauthorized use or access to a client’s or customer’s files, or any damages to their computer equipment, programs, files or other property, even if Parrot66 has been advised of the possibility of such damages.</p>
<p>Occasionally, Parrot66 may provide an external link from its Homepage to a third-party affiliated with Parrot66. Parrot66 is not responsible for the contents of any on-site or off-site pages referenced through such links, nor is Parrot66 liable for any defamatory, offensive, or illegal conduct that may occur from or through such third-party link. Links to other websites do not constitute an endorsement of that site by Parrot66.</p>
<p><b>Security</b></p>
<p>Protecting Customer Identifiable Information is an important priority for Parrot66. Parrot66 employees who violate its confidentiality and security policies and procedures are subject to disciplinary action. Service providers or affiliates that receive Customer Identifiable Information are required to preserve the confidentiality of that information under the terms of legal Confidentiality Agreements with them. Parrot66 also maintains physical, electronic and procedural safeguards in accordance with industry standards that are designed to keep unauthorized persons from accessing Customer Identifiable Information stored on the Parrot66 systems, as well as protecting it from loss or destruction, misuse, alteration, or disclosure.</p>
<p>All client communication and files in digital format are stored on this secure network, accessible only by approved staff. All critical systems and servers are separately housed within Parrot66's secure facilities and are accessible only by authorized personnel. Parrot66’s physical premises are protected with a security personnel and live security surveillance, and all off-hour entry is logged through an access control system.</p>
<p><b>Copyright Protection and Use of Parrot66 Information</b></p>
<p>The Parrot66 testing products and services are protected by copyright as a collective work and/or compilation, pursuant to U.S. copyright laws, international conventions and other copyright laws. Parrot66 products and services also are protected by US trade secret laws. Company names, logos and trademarks may not be used by any individual member of the public or any client or customer in any manner without the prior written consent of Parrot66. Users should assume, unless specifically noted, that all content on the Parrot66 website, and any files or programming related to the website and the Parrot66 testing products and services, are protected by such rights owned exclusively by Parrot66. Therefore, users may not recopy, distribute, publicly display, modify, transmit, reuse, repost, or use for public or commercial purposes, any of the contents of the website without the express written permission of Parrot66, obtained in advance of such use. Permission requests should be sent to: <a href="mailto:permissons@Parrot66.com">permissons@Parrot66.com</a></p>
<p><b>Changes to the Privacy Policy</b></p>
<p>Parrot66 may modify this Privacy Policy from time to time, as circumstances may dictate. The current Privacy Policy can be viewed on the Parrot66 website at <a href="www.Parrot66.com">www.Parrot66.com</a>. If any user or interested person has any questions regarding this Privacy Policy or wishes to voice concern or complain about the Policy to Parrot66’s attention, please email Parrot66 at <a href="mailto:help@Parrot66.com">help@Parrot66.com</a>. Parrot66 will investigate any such issues and take appropriate steps to address any problems or concerns.</p>
    </div>

  </div>
</div>
<%=render "footer" %>
