<%=render "header" %>
<div class="about-tests-inner">
  <div class="container-fluid banner-right about-tests-inner-head">
    <div class="container">

      <div class="h1-style-right">About the Tests</div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-8">
      <div class="h1-top-style">
        <a href="#">Home</a>
        /
        <a href="#">About The Tests</a>
        /
        <a href="#">English - Banking</a>
      </div>
      <div class="h1-style">English - Banking</div>
      <div class="h6-style">Test Details</div>

      <p>With our English Banking Language Performance test you will be taking a test that is specifically designed to prepare/assess your ability to work in a financial institution, in a general staff position. Banks don’t want to know how well you can just speak Spanish, they want to know how well you can speak to their customers in Spanish – which is exactly what you will be able to tell them with this certification!!  Click <span class="here"><a  href="#">here</a></span> and get certified today!!</p>

      <div class="h6-style">Qualification</div>

      <p>You will receive an Official Parrot66 ILR Language Certification. It’s a validated scale, and a validated test. What else is there to say?!</p>

    </div>
    <div class="col-md-4">
      <div class="btn-info-block">
        <div class="buy-test">
          <div class="btn btn-color btn-join">
            <a href="#">Buy Test</a>
          </div>
          <p>$24 (US) </p>
        <ul>
          <li><i class="fa fa-hourglass-end"></i>45 minutes</li>
          <li><i class="fa fa-volume-down"></i>Sneak preview! Hear a quick snippet…</li>
          <li><i class="fa fa-users"></i>Students enrolled</li>
        </ul>
        </div>
      </div>
      <div class="under-info-block">
        <div class="u-title">Latest Tests</div>
        <ul>
          <li>
            <a href="#">Test 01</a>
          </li>
          <li>
            <a href="#">Test 02</a>
          </li>
          <li>
            <a href="#">Test 03</a>
          </li>
          <li>
            <a href="#">Test 04</a>
          </li>
          <li>
            <a href="#">Test 05</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="practice">
    <div class="container-fluid">
      <div class="container section">
        <div class="col-md-12">
          <div class="h1-style-center">Similar Tests</div>
          <div class="test-info-section">
            <div class="row">
              <div class="col-md-6">
                <div class="test-info">
                  <div class="test-title">English Test Title 01</div>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <p>Nulla efficitur ex vel velit accumsan molestie. Integer vel dui mi. lla efficitur ex vssad. san molestie. Integer vel dui mi. lla
                    <span class="more">
                      <a href="#">Know More</a>
                    </span>
                  </p>
                  <div class="test-icon">
                    <span>
                      <i class="fa fa-hourglass-end"></i>
                      45minutes</span>
                    <span>
                      <i class="fa fa-volume-down"></i>
                      Audio Sample</span>
                    <span>
                      <i class="fa fa-graduation-cap"></i>
                      Buy Tests</span>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="test-info">
                  <div class="test-title">English Test Title 01</div>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <p>Nulla efficitur ex vel velit accumsan molestie. Integer vel dui mi. lla efficitur ex vssad. san molestie. Integer vel dui mi. lla
                    <span class="more">
                      <a href="#">Know More</a>
                    </span>
                  </p>
                  <div class="test-icon">
                    <span>
                      <i class="fa fa-hourglass-end"></i>
                      45minutes</span>
                    <span>
                      <i class="fa fa-volume-down"></i>
                      Audio Sample</span>
                    <span>
                      <i class="fa fa-graduation-cap"></i>
                      Buy Tests</span>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%=render "footer" %>
