<%=render "homes/header" %>

<div class="page-404 container-fluid">
  <div class="container">
    <div class="font404-1">Hmm… well this isn’t good. You somehow found a page that doesn’t exist anymore.Please go back to <a href="www.languagetest.com">www.languagetest.com</a> and try again or contact us at <a href="mailto:support@languagetest.com">support@languagetest.com</a>. </div>
    <div class="font404-2">404</div>
    <div class="font404-3">ERROR</div>
    <div class="font404-4">Take me back to <%= link_to 'homepage', root_path %></div>

  </div>
</div>

<%=render "homes/footer" %>
