<%=render "/homes/header" %>
<div class="reset-pwd-thankyou">
  <div class="container section">
    <div class="row">
      <div class="col-md-12 txt">
        <div class="h1-style">Password Reset Successful</div>
        <p>Dear <%= @f_name.to_s %>,</p>
        <p>Your password has been successfully updated. Good luck and we hope you enjoy your experience with Parrot.</p>
        <p>-Parrot Support</p>
        <a href="/">
          <div class="back-home"><i class="fa fa-arrow-left"></i>Back to Homepage</div>
        </a>
      </div>
    </div>
  </div>
</div>

<%=render "/homes/footer" %>
