<%=render "users/header" %>
<div class="thankyou">
  <div class="container-fluid banner thankyou-head">
    <div class="container">
      <div class="h1-style">Test Finished</div>
    </div>
  </div>
  <div class="container section finished-test">
    <div class="col-md-12">
      <p class="p-lg">Thank you for Taking the test.</p>
      
      <a href="/">
        <div class="back-home"><i class="fa fa-arrow-left"></i>Back to Homepage</div>
      </a>
    </div>
  </div>
</div>

<%=render "users/footer" %>
